@{
    ViewBag.Title = "About";
}


<div class="main-wrapper">

    <article class="about-section py-5">
        <div class="container">
            <h2 class="title mb-3">About Me</h2>

            <p>My passion for technology started with my first computer, the second I got it I took it apart to see how exactly it works. In high school I took a web development class learning Html and CSS, I instantly developed a love for programming. Off and on for the next for years, I learned little by little. Up until I got accepted into coder foundry where now I am studying and learning code making my dream of working in technology come true. </p>
            <figure><img class="img-fluid" src="~/images/about-me.jpg" alt="image"></figure>
            <h5 class="mt-5">About The Blog</h5>
            <p></p>
            <h5 class="mt-5">Side Projects</h5>
            <p>This project is the second project I have finished since beginning my studies as a .net developer, with my first being my portfolio website. The portfolio website has a lot more about my skills and contains a few coding exercises that I have completed.</p>
        </div>
    </article><!--//about-section-->





</div><!--//main-wrapper-->
